body {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.subtitle {
  font-size: 1.5rem;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  padding-top: 50px;
  color: #66BFBF;
  line-height: 4;
  margin-top: 0;
}

h2 {
  color: #66BFBF;
  font-weight: bold;
  font-size: 2rem;
}

h3,
a {
  color: #11999E;
}

.myImage {
  margin-top: 2rem;
}

.info {
  margin: auto 100px;
  line-height: 2;
  font-size: 1.25rem;
}

.top-container {
  background-color: #d9d7f1;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  bottom: 20%;
}

.myImage {
  border-radius: 100px;
  width: 200px;
}

.mountain {
  max-width: 100%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.icon {
  float: left;
  margin: 5px;
}

.contact-me,
.bottom-container {
  line-height: 2;
}

strong {
  color: #11999E;
}

.title-h2 {
  margin-top: 3rem;
}