body {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  padding-top: 50px;
  color: #66BFBF;
}

h2 {
  color: #66BFBF
}

h3,
a {
  color: #11999E;
}

.top-container {
  background-color: #d9d7f1;
}

.top-cloud {
  position: relative;
  right: 15%;
  top: 10%;
}

.bottom-cloud {
  position: relative;
  left: 15%;
  margin-bottom: 20%;
}

.myImage {
  border-radius: 100px;
  width: 200px;
}

.mountain {
  max-width: 100%;
}